<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.board.mapper.ReplyMapper">
	<!-- 
	insert, update, delete, read, getList, get
	 -->
	 
	 <insert id="insert" parameterType="ReplyDTO">
		INSERT INTO 
		tbl_reply ( rno,
					 bno, 
					 reply, 
					 replyer ) 
		values ( seq_reply.nextval, 
		         #{bno}, 
		         #{reply}, 
		         #{replyer} )
	</insert>


	<!-- 업데이트 -->
	<update id="update" parameterType="ReplyDTO">
		UPDATE tbl_reply
		    SET
		        reply = #{reply},
		        replyer = #{replyer},
		        updateDate = sysdate
		WHERE rno = #{rno}
	</update>
	
	<!-- 기본키 삭제 d -->
	<delete id="delete" parameterType="long">
		DELETE tbl_reply WHERE rno = #{rno}
	</delete>

	<!-- 단건조회 --> 
	<select id="read" resultType="ReplyDTO" parameterType="long">
		SELECT
			 rno, 
	         bno,
			reply,
			replyer,
			replyDate,
			updateDate
	    FROM tbl_reply
	   WHERE rno = #{rno}
	</select>
	
	<!-- d -->
	<select id="getCountByBno" resultType="int">
	<![CDATA[
		select count(rno)
		from tbl_reply
		where bno = #{bno}
	]]>
	</select>
	
	<!-- 전체조회d -->
	<select id="getList" resultType="ReplyDTO">
	<![CDATA[
		    select
		    		RNO,
		    		BNO, 
		    		reply, 
		    		replyer,
		    		replyDate,
		    		updateDate
		    from tbl_reply
		    WHERE bno = #{bno}
		    and rno > 0
	]]>
	</select>
	
	<!-- 카운트 -->
	<select id="getCount" resultType="int">
	  SELECT COUNT(*) FROM tbl_reply
	</select>


</mapper>